@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_CustomerLayoutHeaderPartial")
<body class="nav-md footer_fixed">
    <div class="container body">
        <div class="main_container">
            @await Component.InvokeAsync("_CustomerLayoutSidebarPartial")
            @await Component.InvokeAsync("_CustomerLayoutNavbarPartial")
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
            @await Component.InvokeAsync("_CustomerLayoutFooterPartial")
        </div>
    </div>
    @await Component.InvokeAsync("_CustomerLayoutJsPartial")
</body>
</html>
